{% extends 'base.html' %}
{% load static %}
{% block style %}
     <link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}

{% block content %}


    <!-- START APP(LEFT) -->
    <div class="app">
        <div class="elements">
            <div class="story">
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic.svg' %}" alt="">
                    <p>my store</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (1).svg' %}" alt="">
                    <p>TerryLucas</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (2).svg' %}" alt="">
                    <p>LauraMatt...</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (3).svg'%}" alt="">
                    <p>harryprescott</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (4).svg' %}" alt="">
                    <p>ednamanz</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (5).svg' %}" alt="">
                    <p>christinaste...</p>
                </div>
                <div class="my">
                    <img src="{% static '/assets/storys/Avatar-Profile-Pic (6).svg' %}" alt="">
                    <p>johnschmit</p>
                </div>
{#                <div class="my">#}
{#                    <img class="yar" src="{% static '/assets/storys/Avatar-Profile-Pic (7).svg' %}" alt="">#}
{#                    <p>amy</p>#}
{#                </div>#}
                <img class="btn" src="{% static '/assets/storys/Story-Button.svg' %}" alt="">
            </div>

            <div class="info">
                <div class="foto">
                    <img src="{% static '/assets/info/Avatar-Circle.svg' %}" alt="">
                    <p>terrylucas</p>
                </div>
                <div class="more"><img src="{% static '/assets/Icons/More.svg' %}" alt=""></div>
            </div>
            <div class="post"><img src="{% static '/assets/1.svg' %}" alt=""></div>
            <div class="footer">
                <div class="icons">
                    <div class="leftnav">
                        <img src="{% static '/assets/Icons/Menu-Button-Item.svg' %}" alt="">
                        <img src="{% static '/assets/Icons/Comment.svg' %}" alt="">
                        <img src="{% static '/assets/Icons/SharePosts.svg' %}" alt="">
                    </div>
                    <div><img src="{% static '/assets/Icons/Save.svg' %}" alt=""></div>
                </div>
                <div class="likeinfo">
                    <p>1.069 Likes</p>
                </div>
                <div class="comments">
                    <div class="topcom">
                        <strong>terrylucas </strong>
                        <p>Imperdiet in sit rhoncus, eleifend tellus augue lectus potenti pellentesque</p>
                        <span>...more</span>
                    </div>
                    <div class="bottomcom"><span>View all 100 comments</span></div>
                </div>
                <div class="time"><span>1 hour ago</span></div>
                <div class="addcomment">
                    <div class="emoji">
                        <img src="{% static '/assets/Icons/Emoji.svg' %}" alt="">
                        <p>Add a comment...</p>
                    </div>
                    <div class="txt">post</div>
                </div>
            </div>
        </div>
        <!-- FINISH APP(LEFT) -->

        <!-- START RIGHT BOX -->
        <div class="secondary">
            <div class="myPr">
                <img src="{% static '/assets/secondary/Profile-Pic.svg' %}" alt="">
                <div class="name">
                    <p>shirleyromero</p>
                    <span>Shirley romero</span>
                </div>
                <p class="blue">Switch</p>
            </div>
            <div class="suggestions">
                <span>Suggestions For You</span>
                <p>See All</p>
            </div>
            <div class="follow">
                <img src="{% static '/assets/secondary/Profile-Pic (1).svg' %}" alt="">
                <div class="texx">
                    <p>terylucas</p>
                    <span>Followed by terylucas + 2 more</span>
                </div>
                <p class="blue">follow</p>
            </div>
            <div class="follow">
                <img src="{% static '/assets/secondary/Profile-Pic (3).svg' %}" alt="">
                <div class="texx">
                    <p>lauramatthews</p>
                    <span>Followed by lauramatthews + 2 more</span>
                </div>
                <p class="blue">follow</p>
            </div>
            <div class="follow">
                <img src="{% static '/assets/secondary/Profile-Pic (4).svg' %}" alt="">
                <div class="texx">
                    <p>harryprescott</p>
                    <span>Followed by harryprescott + 2 more</span>
                </div>
                <p class="blue">follow</p>
            </div>
            <div class="follow">
                <img src="{% static '/assets/secondary/Profile-Pic (5).svg' %}" alt="">
                <div class="texx">
                    <p>ednamanz</p>
                    <span>Followed by ednamanz + 2 more</span>
                </div>
                <p class="blue">follow</p>
            </div>
            <div class="follow">
                <img src="{% static '/assets/secondary/Profile-Pic (6).svg' %}" alt="">
                <div class="texx">
                    <p>christinasterling</p>
                    <span>Followed by christinasterling + 2 more</span>
                </div>
                <p class="blue">follow</p>
            </div>
            <div class="footerSecondary">
                <div>
                    <a href="">About</a>
                    <a href="">Press</a>
                    <a href="">API</a>
                    <a href="">Jobs</a>
                    <a href="">Privacy</a>
                    <a href="">Terms</a>
                    <a href="">Locations</a>
                </div>
                <div>
                    <a href="">Top Accounts</a>
                    <a href="">Hashtags</a>
                    <a href="">Language</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}