{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'posts.css' %}">
{% endblock %}
{% block content %}

    <div class="content">
        <div class="first">
            <div class="left">
                <img src="{% static '/assets/Explore/Small-Post-1.svg' %}" alt="">
                <img src="{% static '/assets/Explore/Small-Post-2.svg' %}" alt="">
            </div>
            <div>
                <img src="{% static '/assets/Explore/Big-Post.svg' %}" alt="">
            </div>
        </div>
        <div class="second">
            <img src="{% static '/assets/Explore/Small-Post-3.svg' %}" alt="">
            <img src="{% static '/assets/Explore/Small-Post-4.svg' %}" alt="">
            <img src="{% static '/assets/Explore/Small-Post.svg' %}" alt="">
        </div>

    </div>
{% endblock %}