{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="userInfo">
            <div class="followers">
                <img src="{% static '/assets/Profile-Pic.svg' %}" alt="">
                <div class="text">
                    <div class="first">
                        <p>terrylucas</p>
                        <button>Follow</button>
                        <img src="{% static '/assets/Icons/More.svg' %}" alt="">
                    </div>
                    <div class="second">
                        <p>1.258 posts</p>
                        <p>4M followers</p>
                        <p>1.250 following </p>
                    </div>
                    <div class="third">
                        <p>Terry Lucas</p>
                    </div>
                </div>
            </div>

            <div class="aktual">
                <div class="ak1">
                    <img src="{% static '/assets/secondary/Profile-Pic (1).svg' %}" alt="">
                    <p>Made Us</p>
                </div>
                <div class="ak1">
                    <img src="{% static '/assets/secondary/Profile-Pic (3).svg' %}" alt="">
                    <p>Lorem ...</p>
                </div>
                <div class="ak1">
                    <img src="{% static '/assets/secondary/Profile-Pic (4).svg' %}" alt="">
                    <p>Lorem ...</p>
                </div>
                <div class="ak1">
                    <img src="{% static '/assets/secondary/Profile-Pic (5).svg' %}" alt="">
                    <p>Lorem ...</p>
                </div>
            </div>
        </div>

        <div class="userpost">
            <div class="info">
                <div class="txt">
                    <img src="{% static '/assets/Icons/Posts.svg' %}" alt="">
                    <p>POSTS</p>
                </div>
                <div class="txt2">
                    <img src="{% static '/assets/Icons/Guides.svg' %}" alt="">
                    <p>GUIDES</p>
                </div>
                <div class="txt2">
                    <img src="{% static '/assets/Icons/Reels.svg' %}" alt="">
                    <p>REELS</p>
                </div>
                <div class="txt2">
                    <img src="{% static '/assets/Icons/Videos-2.svg' %}" alt="">
                    <p>VIDEOS</p>
                </div>
                <div class="txt2 ">
                    <img src="{% static '/assets/Icons/Tagged.svg' %}" alt="">
                    <p>TAGGED</p>
                </div>
            </div>
            <div class="post">
                <div><img src="{% static '/assets/User-Profile/Small-Post.svg' %}" alt=""></div>
                <div><img src="{% static '/assets/User-Profile/Small-Post-1.svg' %}" alt=""></div>
                <div><img src="{% static '/assets/User-Profile/Small-Post-2.svg' %}" alt=""></div>
                <div><img src="{% static '/assets/User-Profile/Small-Post-3.svg' %}" alt=""></div>
                <div><img src="{% static '/assets/User-Profile/Small-Post-4.svg' %}" alt=""></div>
                <div><img src="{% static '/assets/User-Profile/Small-Post-5.svg' %}" alt=""></div>
            </div>
        </div>
    </div>
    <!-- FINISH CONTENT -->
{% endblock %}